@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <h1>QR Code Generator</h1>
    <form method="post" action="/Home/GetCode">
        <input type="text" name="input" placeholder="Enter the text that you would like to be converted."/>
        <input type="submit" value="Convert" />
    </form>
</div>